_autosave-Breadboard Power Supply.kicad_sch_autosave-Breadboard Power Supply.kicad_sch_autosave-Breadboard Power Supply.kicad_sch_autosave-Breadboard Power Supply.kicad_schBreadboard Power Supply-backups
_autosave-Breadboard Power Supply.kicad_pcb
fp-info-cache
fp-lib-table
~$$Breadboard Mechanicals.~vsdx
sym-lib-table
\#auto_saved_files#
_autosave-Breadboard Power Supply.kicad_sch
Breadboard Power Supply-backups
